$ffPrincipal: Nunito, sans-serif;
$tipografiaSecundaria: 'Truculenta', sans-serif;


$h1:4.5rem;
$h2:3.5rem;
$h3:3rem;
$h4:2.5rem;
$h6:2rem;

h1, h2, h3 {
	color: $colorPrincipal;
}

p{
	color: $colorTexto;
}

